if SHIELD_NOX_18_LEFT

    config ZMK_KEYBOARD_NAME
        default "Nox 18"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif

if SHIELD_NOX_18_LEFT || SHIELD_NOX_18_RIGHT
    config ZMK_SPLIT
        default y

endif

