#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
//     | l | d | y |    | m | o | u |
// | n | r | t | s |    | h | a | i | e |
//         | l1|BSP|    |ENT|SPC|
            bindings = <

        &kp L &kp D &kp Y   &kp M &kp O &kp U
  &kp N &kp R &kp T &kp S   &kp H &kp A &kp I &kp E

           &mo 1 &kp BSPC   &kp RET &kp SPACE

            >;
        };
    };
};

